* {
	font-family: 'Hubballi', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


nav {
	background-color: #566573;
	padding: 0.8rem; 
	border-bottom: 1px solid grey;
}


.nav > a{
	text-decoration: none;
	color: white;

}

.nav > a:hover{
	background-color: #2C3E50;

}


nav .nav, nav .nav-logo {
	color: white;
	font-size: 2rem;
	margin: 0.5rem;
	display: inline;
	vertical-align: middle;
}

section > div {
	background-color: #BAC1BD;
	text-align: center;
}

#welcome {
	margin: 30px;
	font-size: 5rem;
}

section > div > p {
	margin: 30px;
	font-size: 2rem;
}

#button {
	margin: 30px;
	color: black;
	font-weight: bold;
	background-color: #5B6760;
	border-radius: 25px;
	font-size: 1.5rem;
	padding: 1rem;
}

#button:hover{
	background-color: #2C3E50;
}